.btnArea {
    background-color: #0863bf;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px, 10px;
    border-radius: 0px 10px 10px 0px;
    padding:5px;
    height: calc(100%-10px);
    max-height: 100%;
    width: 80%;
}