button {
    color: white;
    border: 5px;
    font-size: 26px;
    font-weight: bold;
    background-color: #0863bf;
    height: 80%;
    width:80%;

}

#buttonWrapper {
    text-align: center;
    background-color: #0863bf;
    position: relative;
    border: 2px  #023e7a;
    border-radius: 10px;
}

#footnote {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 10%;
    margin-bottom: 10%;
    font-size: 18px;
    color: #023e7a;
}