.controlPanel {
  width: 40%;
  display: flex;
  background-color: #48494a;
  z-index: 1;
  border-radius: 10px;
}

.panelBar {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  max-height: 100%;
  width: 20%;
  z-index: 2;
  
}



/*
.menuBtn {
  color: white;
  background-color: transparent;
  font-size: 22px;
  font-weight:bold;
  font-style: italic;
  border: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}*/