.menubar {
  width: 40%;
  display: flex;

}

.panel {
  width: 5%;
  text-align: center;
  width: 20%;
  max-height: 100%;
  background-color: #262729;
  border-radius: 10px 0px 0px 10px;
}

.menuBtn {
  color: white;
  background-color: transparent;
  font-size: 22px;
  font-weight:bold;
  font-style: italic;
  border: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}